<div @fadeIn class="contact-container">
  <div class="container mt-5">
    <div class="row">
      <!-- Contact Form -->
      <div class="col-md-4">
        <h2 class="mb-4">Contact Us</h2>
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Enter your Name"
            />
          </div>
          <div class="mb-3">
            <label for="Phone Number" class="form-label">Phone Number</label>
            <input
              type="number"
              class="form-control"
              id="number"
              placeholder="Enter a valid phone number"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter a valid email address"
            />
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea
              class="form-control"
              id="message"
              rows="3"
              placeholder="Your message"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-warning w-100">SUBMIT</button>
        </form>
      </div>

      <!-- Contact Info -->
      <div class="col-md-4 text-white bg-dark p-4">
        <h4 class="text-warning text-center pe-3">
          <i class="bi-telephone"></i>
          CALL US
        </h4>
        <p class="text-center">
          Prashant Jagtap - (+91) 9765000400<br />
          Vishal Rathnam - (+91) 9822566576
        </p>

        <h4 class="text-warning text-center pe-2 pt-3">
          <i class="bi-pin-map"></i>
          LOCATION
        </h4>
        <p class="text-center">
          Siddhi Towers, 1st Floor, Opp. Parmar Pawan<br />
          Near Jyoti Restaurant, Above ICICI Bank <br />
          Kondhwa Road, Pune – 411048, Maharashtra
        </p>

        <h4 class="text-warning text-center pe-2 pt-3">
          <i class="bi bi-envelope-at"></i> EMAIL
        </h4>
        <ul class="list-unstyled text-center">
          <li><strong>info&#64;dccpune.org</strong></li>
        </ul>
      </div>

      <!-- Google Map Embed -->
      <div class="col-md-4">
        <iframe
          class="w-100 h-100"
          style="min-height: 400px; border: 0; border-radius: 10px"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.0922511804497!2d73.8910859!3d18.4794801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c065a7c56561%3A0xe18589a2ac989959!2sDisciples%20Community%20Church!5e0!3m2!1sen!2sin!4v1743242525782!5m2!1sen!2sin"
          allowfullscreen=""
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
