<div @fadeIn class="aboutus-container">
  <div class="mx-5">
    <div class="row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-4">
        <figure class="text-center">
          <img
            src="assets/images/EarlyDCC.jpg"
            class="d-block mx-lg-auto img-fluid shadow-lg"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
          />
          <figcaption class="mt-2 text-muted small">
            Group includes Jo Jamieson, Vicky Emblem, Miranda Wee, Jono Main,
            Jenni Main Hiroo Khemlani, Malini Khemlani (now Mansukhani), Liz
            Main, Cameron Main, Glen
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-8 mt-0">
        <h5 class="fw-bold lh-1 mb-3">About Us</h5>
        <p class="lead">
          In late 1974 a group of young people, most of whom were associated
          with the Evangelical Union, began meeting for a weekly Bible Study.
          This was held every Sunday between 2:00 to 4:00 p.m. This stopped for
          a time but was revived around 1976 and Mr. John Main volunteered to
          help out. Sometime in 1978 there was a growing sense of need and
          commitment to take the step of meeting together as a local Church.
          With just two families and a few college students a house church took
          shape in late 1978. From the inception those gathering together met on
          the basis of Acts 2:42 and also collected offerings which were mostly
          used to support evangelistic and missionary work. After about a couple
          of years this house group adopted the name Disciples Community Church
          and very soon after moved from a “home” to the Methodist “St.
          Stephen’s Memorial Hall” in Bhawani Peth. Later DCC moved to St.
          John’s School Hall and from there to our present location. We have
          grown from just two families and a few youth to the present number. In
          1988 March some felt the need to leave DCC while others have been
          transferred because of studies or employment. By December this year we
          will have about 12 families, 2 singles, a widow and 2 broken families
          on our official Membership and about 25-30 others worshipping with us
          – a tremendous challenge and responsibility to be a local Church that
          is committed to understanding and obeying God’s Word and to evangelism
          as well as missions.
        </p>
      </div>

      <div class="col-lg-12 mt-0">
        <p class="lead">
          In the past D.C.C. has sent a “once-off” financial gift to IEM,
          I.E.H.C., Bible Society and other organisations. For several years we
          supported, on a monthly basis a missionary of Friends Missionary
          Prayer Band and Maharashtra Village Ministries. Presently, we are
          supporting a missionary of Love Maharashtra, called Suresh Chavan. For
          over a decade, DCC ran a residential for underprivileged children,
          many of whom now attend our services as adults. DCC has now existed
          for almost four decades. We’ve had our share of problems through our
          history, but with God’s help and by His grace these have been
          surmounted. There were “growing up” pains and “middle-age” pains.
        </p>
        <p class="lead">
          DCC is not affiliated to any other body nor is it part of a larger
          fellowship/denomination. We stand or fall all alone. We form our
          identity all on our own. From its inception this identity formation
          has been based on Scripture. The founders were aware of various models
          and read many books but struggled to understand and stay close to the
          Word of God.
        </p>
      </div>
      <div class="col-lg-8 mt-0">
        <p class="lead">
          Our priority has been the
          <strong>obedience to the Word of God.</strong> In the first years of
          our history <strong>John Main and I (Pastor Chris)</strong> had no
          doubt in the matter of our primary responsibility. We taught God’s
          Word. All attenders of DCC unquestioningly came for the weekday Bible
          Study. Our commitment to the inductive study and expository preaching
          methods were implicit. Another important aspect of our life together
          was prayer. Almost everyone enthusiastically responded to prayer
          meetings and half-nights and full nights of prayer were frequent.
          Fellowship was not organised but spontaneous. There was a rich sense
          of family spirit and the Elders united in heart and purpose.
        </p>
        <p class="lead">
          As a local Church those were our foundational commitments. As these
          were maintained the membership got its motivations to spend our money
          and be involved in Mission and Evangelism. I believe we need to hold
          on to the foundational commitments as we keep going and growing.
        </p>
      </div>
      <div class="col-10 col-sm-8 col-lg-4">
        <figure class="text-center">
          <img
            src="assets/images/DCCFullChurch.jpg"
            class="d-block mx-lg-auto img-fluid shadow-lg"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
          />
          <figcaption class="mt-2 text-muted fw-bold">
            DCC & CCC Church Camp - October 2024
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
