<div @routeAnimations class="container py-5">
  <div class="row align-items-center g-5 py-5 pb-0">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="assets/images/PastorsGreeting.jpg"
        class="d-block mx-lg-auto img-fluid shadow-lg"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h5 class="fw-bold lh-1 mb-3">
        A Word of Welcome to our Website Visitors
      </h5>
      <p class="lead">
        As you browse through our local church website I hope you will be
        blessed and your heart will resonate with agreement at what you read and
        see about this local Church. We are committed to being obedient to what
        the Bible teaches. We want to uphold God’s Word as our final authority
        in what we preach and teach but, importantly, also in how we live. If
        you are attempting to be a bible committed disciple of the Lord Jesus
        Christ you will be encouraged as you look through our church activities,
        pictures and read about who, why and what we are. God is at work amongst
        us and we are privileged to know and love Him Who first loved us and
        demonstrated that in giving up His Son for us. At Disciples Community
        Church we understand that the ecclesia is made up of those “called and
        chosen” by God to live holy and blameless before Him. We make no excuse
        to take into signed up membership only those who are truly saved and
        assured of being saved from God’s wrath on the basis of the finished
        work of Jesus Christ on Calvary. Everything we do is to present each one
        mature in Christ. I invite you to visit us and see for yourself. Our
        local church is for those who are passionate about loving Jesus Christ,
        His Word and His Church. You will grow to love and serve Christ.
      </p>
      <p class="lead">Chris Willams</p>
      <p class="fw-bold lh-1 mb-3 lead">Pastor/Elder</p>
    </div>
  </div>
</div>
