<nav class="navbar navbar-expand-lg fixed-top bg-white">
  <div class="nav-container container-lg px-0">
    <!-- logo and hamburger icon -->
    <div class="logo-container">
      <a href="" routerLink="./home"
        ><img
          src="../../assets/images/DCC-Logo.png"
          alt="logo"
          class="img-fluid d-block me-auto"
          style="height: 70px; width: 240px"
      /></a>
      <button class="h1 bg-transparent border-0" (click)="pannelToggle()">
        <i class="bi bi-list"></i>
      </button>
    </div>
    <!-- navigation links and buttons -->
    <div class="links-container">
      <!-- drop down menu 1 -->
      <div class="dropdown-container">
        <a href="" routerLink="./home">Home</a>
        <a href="" routerLink="./pastor-greeting">Pastor's Greeting</a>
        <a href="" routerLink="./doctrinal-statement">What We Teach</a>
        <a href="" routerLink="./sermons">Sermons</a>
        <a href="" routerLink="./events-calendar">Calendar</a>
        <a href="" routerLink="./about-us">About Us</a>
      </div>
      <!-- dropdown menu 2 -->
      <!-- <div class="dropdown-container">
        <a (click)="companyToggle()" role="button"
          >Resources
          <span
            ><img
              src="../../assets/images/icon-arrow-down.svg"
              [ngClass]="companyChevron ? 'chevron-rotate' : 'chevron'"
              alt="" /></span
        ></a>
        <div
          (mouseleave)="companyToggle()"
          [ngClass]="companyChevron ? 'dropdown-active' : ''"
          class="dropdown-content card shadow"
          style="left: 20px"
        >
          <a href="" class="mb-2">History</a>
          <a href="" class="mb-2" style="width: max-content">Our Team</a>
          <a href="" class="mb-2">Blog</a>
        </div>
      </div> -->
    </div>
    <div class="button-container">
      <!-- <button class="btn-login btn">Login</button> -->

      <button
        class="btn-register btn btn-outline-dark"
        routerLink="./contact-us"
      >
        Contact Us
      </button>
    </div>

    <!-- side pannel navigation -->
    <div
      class="side-pannel-container"
      [ngClass]="isShowPannel ? 'show-pannel' : ''"
    >
      <!-- side pannel on smaller devices -->
      <div
        class="side-pannel card"
        [ngClass]="isShowPannel ? 'show-side-pannel' : ''"
      >
        <button class="h1 close-btn" (click)="pannelToggle()">
          <i class="bi bi-x-lg"></i>
        </button>
        <div class="links-container-side">
          <!-- dropdown menu 1 -->
          <div class="dropdown-container-side">
            <a role="button" (click)="featuresToggle()"
              >Features
              <span
                ><img
                  src="../../assets/images/icon-arrow-down.svg"
                  [ngClass]="featureChevron ? 'chevron-rotate' : 'chevron'"
                  alt="" /></span
            ></a>
            <div
              [ngClass]="featureChevron ? 'dropdown-side-active' : ''"
              class="dropdown-content-side"
            >
              <a href="" class="mb-3"
                ><img src="../../assets/images/icon-todo.svg" alt="" /> Todo
                List</a
              >
              <a href="" class="mb-3"
                ><img src="../../assets/images/icon-calendar.svg" alt="" />
                Calender</a
              >
              <a href="" class="mb-3"
                ><img src="../../assets/images/icon-reminders.svg" alt="" />
                Reminder</a
              >
              <a href="" class="mb-3"
                ><img src="../../assets/images/icon-planning.svg" alt="" />
                Planing</a
              >
            </div>
          </div>
          <!-- dropdown menu 2 -->
          <div class="dropdown-container-side">
            <a role="button" (click)="companyToggle()"
              >Company
              <span
                ><img
                  src="../../assets/images/icon-arrow-down.svg"
                  [ngClass]="companyChevron ? 'chevron-rotate' : 'chevron'"
                  alt="" /></span
            ></a>
            <div
              [ngClass]="companyChevron ? 'dropdown-side-active2' : ''"
              class="dropdown-content-side"
            >
              <a href="" class="mb-3">History</a>
              <a href="" class="mb-3" style="width: max-content">Our Team</a>
              <a href="" class="mb-3">Blog</a>
            </div>
          </div>
          <a href="" style="margin-bottom: 1.8rem">Career</a>
          <a href="" style="margin-bottom: 1rem">About</a>
        </div>
        <div class="button-container-side">
          <button class="login-btn btn mb-3 fw-500" style="font-weight: 500">
            Login
          </button>
          <button class="register-btn btn btn-outline-dark">Register</button>
        </div>
      </div>
    </div>

    <!--  -->
  </div>
</nav>
