.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info-container p {
  font-weight: 500;
  color: var(--bs-gray-600);
  max-width: 420px;
  margin-inline: auto;
}
.info-container button {
  background-color: var(--bs-gray-900);
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  color: white;
  font-weight: 500;
  margin-top: 1rem;
}
.learn-more-btn:hover {
  background-color: transparent !important;
  color: var(--bs-gray-900) !important;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2.7rem;
  margin-bottom: 5rem;
  padding-inline: 0.3rem;
  max-width: 500px;
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .home-container {
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
  }
  .mobile-img-container {
    display: none;
  }
  .desktop-img-container {
    display: block !important;
    width: 50%;
    max-height: 100%;
  }
  .info-container {
    width: 50%;
    margin-top: 0 !important;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .info-container p {
    margin-inline: 0;
  }
  .mobile-heading {
    display: none;
  }
  .desktop-heading {
    display: block !important;
  }
  .desktop-heading h1 {
    font-size: 3rem !important;
  }
  .logo-container {
    margin-top: 20%;
    margin-bottom: 1rem;
    margin-inline: 0;
  }
}

@media screen and (min-width: 996px) {
  .desktop-heading h1 {
    font-size: 3.8rem !important;
  }
  .info-container button,
  .info-container p {
    font-size: 1.3rem;
    margin-top: 1.3rem;
  }
}
@media screen and (min-width: 1200px) {
  .desktop-heading h1 {
    font-size: 4.1rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .desktop-heading h1 {
    font-size: 4rem !important;
  }
  .info-container button,
  .info-container p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
}
