<section @routeAnimations class="container-md px-0">
  <div id="carouselExampleControls">
    <div class="carousel-inner" style="max-height: 90vh">
      <div class="carousel-item active">
        <div class="home-container">
          <div class="desktop-img-container">
            <img
              src="../../assets/images/ChurchFamily2.png"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="info-container mt-5">
            <div>
              <div class="desktop-heading">
                <h1 class="display-5 text-left fw-bold mb-3">Our Mission</h1>
              </div>
              <p class="lead">
                To have a strong commitment to the doctrines of the Bible and on
                that basis to worship and glorify God in Christ and reach out
                with Christ’s love in witness and compassionate service (using
                any legitimate means) to those outside the fold of God.
              </p>
              <button class="learn-more-btn" routerLink="../contact-us">
                Learn more
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
